a.ctaButton,
button.ctaButton {
  padding: 0.1rem 1rem;
  width: fit-content;
  /* font-size: 0.9em; */
  font-weight: 500;
  color: #eeeeee;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Outfit', serif;
  display: flex;
  align-items: center;
  justify-items: baseline;
  text-transform: none;
  & span > img:first-child {
    filter: invert(1) brightness(1000%);
  }
}
a.ctaButton.outlined:hover {
  & img {
    filter: invert(1) brightness(1000%) !important;
  }
}
a.outlined,
button.outlined {
  border-radius: 10px;
  & img {
    filter: brightness(0) saturate(100%) invert(65%) sepia(40%) saturate(776%)
      hue-rotate(354deg) brightness(90%) contrast(93%) !important;
  }
}

.smallSize p {
  font-size: 0.8rem;
  margin-block: 0.6rem;
}

.mediumSize p {
  font-size: 0.85rem;
  margin-block: 0.7rem;
}

.largeSize p {
  font-size: 0.9rem;
  margin-block: 0.8rem;
}

/*Primary Variant*/
a.ctaButton.primaryVariant,
button.ctaButton.primaryVariant {
  background-color: #dda045;
}
a.ctaButton.primaryVariant:hover,
button.ctaButton.primaryVariant:hover {
  background-color: #df972e;
}

a.ctaButton.primaryVariant.outlined,
button.ctaButton.primaryVariant.outlined {
  background-color: transparent;
  color: #dda045;
  border: 3px solid #dda045;
}
a.ctaButton.primaryVariant.outlined:hover,
button.ctaButton.primaryVariant.outlined:hover {
  background-color: #dda045;
}
a.ctaButton.primaryVariant.outlined:hover {
  background-color: #dda045;
  color: white;
}

/*Danger Variant*/
a.ctaButton.dangerVariant,
button.ctaButton.dangerVariant {
  background-color: #f46d5e;
}
a.ctaButton.dangerVariant:hover,
button.ctaButton.dangerVariant:hover {
  background-color: #eb5646;
}

a.ctaButton.dangerVariant.outlined,
button.ctaButton.dangerVariant.outlined {
  background-color: transparent;
  color: #f15e4d;
  border: 2px solid #f15e4d;
}
a.ctaButton.dangerVariant.outlined:hover,
button.ctaButton.dangerVariant.outlined:hover {
  background-color: #f15e4d;
  color: white;
  border: 2px solid #f15e4d;
}
