.footer {
  background-color: rgba(239, 239, 239, 0.91);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 1500px;
  padding: 4vw 12vw;
}

.menu {
  text-align: left;
  font-size: 1em;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu li {
  margin: 0;
  font-size: 15px;
  color: #333;
}

.menu li a {
  color: inherit;
  text-decoration: none;
}

.menu li a:hover {
  color: #585858;
  cursor: pointer;
}

.highlight {
  color: orange;
}

.logoSection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 16px;
}

.socialIcons {
  margin-top: 10px;
}

.socialIcons img {
  width: 32px;
  height: 32px;
  margin: 0 5px;
  cursor: pointer;
}

.location {
  margin-top: 10px;
  font-size: 0.9em;
  color: #555;
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding-top: 30px;
  }
  .menu {
    text-align: center;
  }

  .menu ul {
    gap: 12px;
  }

  .menu li {
    font-size: 14px;
  }

  .socialIcons img {
    width: 28px;
    height: 28px;
  }

  .logoSection {
    align-items: center;
    margin-top: 30px;
  }

  .logoSection p {
    font-size: 14px;
  }
}
