/* SelectColor.module.css */
.container {
  display: flex;
  gap: 0.3vw;
}

.colorCircle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #b4b4b4;
  transition: border 0.3s ease;
}

.smallSize {
  width: 20px;
  height: 20px;
  border: 1px solid #b4b4b4;
}

.largeSize {
  width: 50px;
  height: 50px;
  border: 2px solid #b4b4b4;
}

.colorCircle:hover {
  border: 2px solid #777;
}

.selected {
  border: 2px solid #555;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 2px 3px;
}
