/* SelectColor.module.css */
.container {
  display: flex;
  gap: 4px;
}

.colorCircle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #b4b4b4;
  transition: border 0.3s ease;
}

.smallSize {
  width: 30px;
  height: 30px;
  border: 1px solid #b4b4b4;
}

.largeSize {
  width: 50px;
  height: 50px;
  border: 1px solid #b4b4b4;
}

.colorCircle:hover {
  border: 1px solid #777;
}

.selected {
  border: 1px solid #222;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 2px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

/* special add-button styling */
.addCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9e9e9;
  font-size: 1.2em;
}

.modalColorsContainer {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}