.container {
  display: flex;
  gap: 0.7vw;
}

.button {
  padding: 10px 25px;
  border-radius: 25px;
  border: 2px solid #999;
  background-color: #e0e0e0;
  color: #757575;
  font-size: 14px;
  cursor: pointer;
  transition:
    background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  font-weight: 500; /* Ensure consistent text weight */
  font-family: 'Outfit', serif;
}

.button:hover {
  background-color: #d6d6d6;
}

.selected {
  border-color: #444;
  background-color: #d6d6d6;
  color: #444;
  font-weight: 600;
}