.container {
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  gap: 5px;
  min-width: 32px;
  height: 26px;
  padding: 0 10px;
  justify-content: center;
  border-radius: 15px;
  border: 1px solid #E7E7E7;
  background-color: #fff;
  color: #333;
  font-size: 12px;
  cursor: pointer;
  transition:
    background-color 0.1s ease-in-out,
    border-color 0.1s ease-in-out;
  font-weight: 450;
  font-family: 'Onest', sans-serif;
}

.button:hover {
  border: 1px solid #777777;
}

.selected {
  border-color: #777777;
  background-color: #777777;
  color: #fff;
  font-weight: 500;
  cursor: auto;
}

.disabled {
  color: #ebebeb;
  pointer-events: none;
}
