.container {
  display: flex;
  gap: 0.8vw;
}

.button {
  display: flex;
  align-items: center;
  /* justify-content: flex-start !important; */
  gap: 9px;
  padding: 15px;
  border-radius: 15px;
  border: 2px solid #999;
  background-color: #e0e0e0;
  color: #757575;
  font-size: 14px;
  cursor: pointer;
  transition:
    background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  font-weight: 400; /* Ensure consistent text weight */
  font-family: 'Outfit', serif;
  box-shadow:
    rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.button:hover {
  background-color: #d6d6d6;
}

.selected {
  border-color: #444;
  background-color: #d6d6d6;
  color: #444;
  font-weight: 600;
}
