.container {
  --containerHeight: 1300px;
  max-width: var(--containerHeight);
  margin: auto;
}
.contentContainer {
  display: flex;
  gap: 3.1em;
}

/* Left container */
.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.image {
  width: 100%;
  border-radius: 3px;
}

/* Right container */
.detailsContainer {
  width: 450px;
}

.rightContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 400px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 40px;
  margin-block: 0;
}

.subtitle {
  font-size: 15px;
  font-weight: 700;
}

/* Dimensions */
.dimensionsGrid {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dimensionsSliderContainer {
  width: 330px;
}

.dimensionLabel p {
  margin: 0;
}

/* Colors */
.colorsLabel {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.colorsLabel p {
  width: 140px;
  font-size: 15px;
  font-weight: 700;
}

/* Furniture choice*/
.furnitureLabel {
  font-size: 13px;
  display: flex;
  align-items: center;
}

.furnitureLabel p {
  width: 140px;
}

.selectBox {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

/* Aranjare dulap */
/* Sectii */
.sectionsLabel {
  font-size: 13px;
  display: flex;
  align-items: center;
}

.sectionsLabel p {
  width: 140px;
}

.sectionTitle {
  font-size: 15px;
  font-weight: 700;
}

.sectionLabel {
  display: flex;
  align-items: center;
  font-size: 13px;
}

.sectionLabel p {
  width: 140px;
}

.mirroringLabel {
  display: flex;
  align-items: center;
  font-size: 13px;
  margin-top: 10px;
}

.mirroringLabel p {
  width: 140px;
  margin: 0;
}

.sectionArrangementLabel {
  display: flex;
  font-size: 13px;
  margin-top: 20px;
}

.sectionArrangementLabel p {
  width: 140px;
  margin: 0;
}

/* Aranjare rafturi */
.shelfArrangement {
  display: flex;
  margin-top: 15px;
}

.shelfArrangement p {
  font-size: 13px;
  width: 140px;
  margin: 0;
}

/* Modal */
.imageSelectContainer {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.modalSaveButton {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* Price container */
.priceContainer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #c2c2c2;
  border-radius: 10px;
  padding: 30px 25px;
  width: 170px;
}

.priceFirstColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.priceTitle h4 {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.price h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: #f15e4d;
}
