.container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  gap: 2.5vw;
  padding: 20px;
}

.imagePriceContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2.5vw;
}

.imageContainer {
  width: 28vw;
}

.priceContainer {
  margin-right: 0;
  margin-left: auto;
  border: 1px solid #C2C2C2;
  border-radius: 10px;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px, rgba(0, 0, 0, 0.1) 0px 1px 1px;
}

.priceTitle h4 {
  margin: 0;
  font-weight: 500;
}

.price h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  color: #f15e4d;
}

.addToCartButtonContainer {
  margin-top: 5px;
}

.image {
  width: 100%;
  border-radius: 8px;
}

.detailsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.sectionSelector {
  display: flex;
  gap: 10px;
}

.sectionButton {
  padding: 10px 15px;
  border: none;
  background: #f3f3f3;
  cursor: pointer;
}

.sectionButton.active {
  background: #222;
  color: white;
}

.dimensionsGrid {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.dimensionTitle {
  width: 120px;
}

.dimensionLabel {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 40px;
}

.selected {
  border: 2px solid #444;
}

.furniture {
  margin-top: 20px;
}

.furnitureLabel {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.furnitureLabel p {
  width: 120px;
}

.selectBox {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}
