.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.hidden {
  transform: translateY(-100%);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1300px;
  padding: 12px 12vw;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation a {
  margin: 0 1.2rem;
  text-decoration: none;
  color: #505050;
  font-size: 15px;
  font-weight: 300;
}

.navigation a:hover {
  color: #fba85c;
}

.menuButton {
  display: none !important;
}

.menuItem {
  font-family: 'Onest', sans-serif !important;
  font-size: 14px !important;
  min-height: 42px !important;
}

@media (max-width: 900px) {
  .headerContainer {
    padding: 20px 10vw;
  }

  .menuButton {
    display: flex !important;
    padding: 0 !important;
    min-width: auto !important;
  }

  .navigation {
    display: none;
  }
}
