/*Header*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem 15rem; */
  padding: 1vw 12vw;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  & img:first-child {
    height: 30px;
    display: flex;
    align-items: center;
  }
}

.navigation {
  display: flex;
  align-items: center;
}
.navigation a {
  margin: 0 1rem;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.navigation img {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0rem 1rem;
}
