.select {
  overflow: visible;
}

.formControl {
  margin: 0;
  background-color: #f9f9f9;
  min-width: 120px;
}

.formControlSmall {
  min-width: 65px;
}

.selectOption {
  color: #505050;
  font-size: 12px !important;
}
