/*Products section*/
.productTypes,
.readyProducts,
.aboutUs {
  padding: 2vw 12vw;
  background-color: white;
  margin: 1rem 0;
}

.productTypesSubtitle {
  display: flex;
  justify-content: center;
  font-weight: 500;
}

.productGrid,
.productList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1vw;
}

.createButton {
  padding: 0.1rem 1rem;
  width: fit-content;
  font-size: 1.2em;
  font-weight: 550;
  background-color: #ffffff;
  border-color: #df972e;
  border-style: solid;
  border-width: 2.5px;
  color: #df972e;
  border-radius: 12px;
  cursor: pointer;
  font-family: 'Outfit', serif;
  display: flex;
  align-items: center;
  justify-items: baseline;
}

.createButton p {
  padding: 0 0.5rem;
}

.wardrobeIcon2 {
  display: inline-block;
  height: 35px;
  width: 35px;
  background-size: cover;
  background-image: url(/wardrobe-button-2.svg);
}

.createButton:hover {
  background-color: #df972e;
  border: none;
  color: #ffffff;
}

.createButton:hover .wardrobeIcon2 {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
    hue-rotate(249deg) brightness(105%) contrast(103%);
}

.cartIcon {
  display: inline-block;
  height: 35px;
  width: 35px;
  background-size: cover;
  background-image: url(/cart2.svg);
}

.addToCartButton {
  padding: 0.1rem 1rem;
  width: fit-content;
  font-size: 1.2em;
  font-weight: 550;
  background-color: #ffffff;
  border-color: #ef2a15;
  border-width: 2.5px;
  border-style: solid;
  color: #ef2a15;
  border-radius: 12px;
  cursor: pointer;
  font-family: 'Outfit', serif;
  display: flex;
  align-items: center;
  justify-items: baseline;
}

.addToCartButton:hover {
  background-color: #f46d5e;
  border-color: #f46d5e;
  color: #ffffff;
  box-shadow: none;
}

.addToCartButton:hover .cartIcon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
    hue-rotate(249deg) brightness(105%) contrast(103%);
}
