.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.imageWrapper {
  cursor: pointer;
  transition: border 0.3s;
}

.image {
  height: 200px;
  display: block;
}

.imageWrapper:hover {
  outline: 1px solid #333;
  outline-offset: -1px;
}

.selected {
  outline: 2px solid #666;
  outline-offset: -2px;
}

.order {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-align: center;
}
