.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.imageWrapper {
  /* box-sizing: border-box; */
  /* border: 3px solid transparent; */
  
  cursor: pointer;
  transition: border 0.3s;
  /* border-radius: 1px; */
}

.image {
  width: 80px;
  height: auto;
  display: block;
}

.imageWrapper:hover {
  outline: 1px solid #333;
  outline-offset: -1px;
}

.selected {
  outline: 2px solid #666;
  outline-offset: -2px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 1px;
}

.order {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-align: center;
}
