.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.imageWrapper {
  border: 2px solid transparent;
  padding: 5px;
  cursor: pointer;
  transition: border 0.3s;
}

.image {
  width: 100px;
  height: auto;
  display: block;
}

.selected {
  border: 2px solid blue;
}

.order {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-align: center;
}
