/* components/CopyButton/CopyButton.module.css */
.copyButton {
  font-family: 'Onest', sans-serif;
  font-weight: 300;
  height: 45px;
  width: 150px;
  text-transform: none;
  color: #f9f9f9;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 25px;
  padding: 0.5em 1em;
  border: none;
  background-color: #fba85c;
  color: #f9f9f9;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.copyButton:hover:not(:disabled) {
  background-color: #fba85c;
}

.copyButton:disabled {
  background-color: #999;
  cursor: default;
}
