.header {
  margin-top: 27px;
  font-size: 15px;
  font-weight: 700;
  margin-left: 0;
  margin-bottom: 9px;
}
/* Dimensions */
.dimensionsGrid {
  display: flex;
  flex-direction: column;
}
.dimensionLabel {
  display: flex;
  align-items: center!important;
}
.dimensionTitle {
  width: 140px;
  font-size: 13px;
  margin-top: 13px;
  margin-bottom: 10px;

  position: relative;
  display: inline-block;
}

.dimensionTitle .tooltipText {
  visibility: hidden;
  width: 80px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; 
}

.dimensionTitle:hover .tooltipText {
  visibility: visible;
}