.header {
  margin-top: 27px;
  font-size: 15px;
  font-weight: 700;
  margin-left: 0;
  margin-bottom: 9px;
}
/* Dimensions */
.dimensionsGrid {
  display: flex;
  flex-direction: column;
}

.dimensionLabel {
  display: flex;
  align-items: center!important;
}

.dimensionTitle {
  width: 150px;
  font-size: 13px;
  margin-top: 13px;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
}

.tooltipContainer .tooltipText {
  visibility: hidden;
  width: 75px;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -3px;
}

.tooltipContainer:hover {
  cursor: pointer;
}

.tooltipContainer:hover .tooltipText {
  visibility: visible;
  cursor: pointer;  
}

.tooltipContainer:hover .tooltipText img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  border: 1px solid #555;
  opacity: 95%;
}

/* Modal info */
.modalChildren {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 30px;
}

.modalText {
  font-size: 14px;
  margin: 0;
  text-align: start;
}

.modalImg {
  width: 200px;
  height: auto;
}